<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>,  <%= myName %></p>

 <br>

 <table border="1"> 

  <thead>
  <th rowspan="2" >NAME</th>
  <th rowspan="2" >AGE</th>
  <th rowspan="2" >SALARY</th>
  </thead>

  <tbody>
    <% for(let i=0; i<users.length;i++){ %>
    <tr>
      <td> <%= users[i].name %></td>
      <td align="right"> <%= users[i].age %></td>
      <td align="right"> <%= users[i].salary %></td>
    </tr>  
    
    <% } %>
  </tbody>

  </table>

  </body>

  
</html>
